*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    min-height: 100vh;
    background: linear-gradient(#211f43,#220D02);
    overflow-x: hidden;
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

header .logo{
    color: white;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}

header ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li{
    list-style: none;
    margin-left: 20px;
}

header ul li a{
    text-decoration: none;
    padding: 6px 15px;
    color: white;
    border-radius: 20px;
}

header ul li a:hover,
header ul li a.active{
    background: white;
    color: #211f43;
}   
.hamburger{
    display: none;
    cursor: pointer;
}
.bar{
    gap: 100px;
    display: block;
    width: 25px;
    height: 5px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}
section{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

section::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 120px;
    background: linear-gradient(to top,#0c0222, transparent) ;
    z-index: 99;
}
section img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#front{
    z-index: 10;
}

#text{
    position: absolute; 
    right: -100%;
    /* color:#220D02;
    text-shadow: 0 0 10px rgb(255, 0, 0); */
    color: white;
    text-shadow: 0 0 5px darkblue;
    white-space: nowrap;
    font-size: 5.5vw;
    z-index: 9;
    transform: translateY(-100px);
}

#btn{
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    border-radius: 40px;    
    background: white;
    color: #211f43;
    font-size: 1.5em;
    z-index: 9;
    transform: translateY(150px);
}

.abtUs{
    position: relative;
    padding: 100px;
    background: #0c0222;
}

.abtUs h2{
    font-size: 3.5em;
    margin-top: 450px;
    margin-bottom: 400px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.abtUs .buttons{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    padding: 30px;
}

.abtUs .buttons .button1,
.abtUs .buttons .button2,
.abtUs .buttons .button3,
.abtUs .buttons .button4,
.abtUs .buttons .button5{
    height: 350px;
    width: 340px;
    border: 10px solid rgb(2, 2, 32);
    border-radius: 40px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, .9);
}

.abtUs .buttons .button1 .image1,
.abtUs .buttons .button2 .image2,
.abtUs .buttons .button3 .image3,
.abtUs .buttons .button4 .image4,
.abtUs .buttons .button5 .image5{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: .2s linear;
}

.timing:nth-child(2){
    transition: 1.8s;
}
.timing:nth-child(3){
    transition: 2.1s;
}
.timing:nth-child(5){
    transition: 1.8s;
}

.abtUs .buttons .button1:hover .image1,
.abtUs .buttons .button2:hover .image2,
.abtUs .buttons .button3:hover .image3,
.abtUs .buttons .button4:hover .image4,
.abtUs .buttons .button5:hover .image5{
    transform: scale(1.1);
}

.popUpImage1,
.popUpImage2,
.popUpImage3,
.popUpImage4,
.popUpImage5 {
    position: fixed;
    top: 0;
    left: 0;
    background:rgba(0,0,0,.9);
    height: 100%;
    width: 100%;
    z-index: 100;
    display: none;
}

span{
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 40px;
    font-weight: bolder;
    color: white;
    cursor: pointer;
    z-index: 100;
}

.popUpImage1 .card1,
.popUpImage2 .card2,
.popUpImage3 .card3,
.popUpImage4 .card4,
.popUpImage5 .card5{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid white;
    border-radius: 10px;
    width: 750px;
    object-fit: cover;
}

/* .popUpImage4{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    display: none;
}

.popUpImage4 .gambar4{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
} */

.card-text{
    color: white;
    padding-left: 5px;
}

.icon{
    padding-left: 5px;
}

.hidden{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1.5s;
}

.show{
    opacity: 1;
    filter: blur(0);
    transform: translate(0);
}

.bi-instagram,
.bi-linkedin{
    color: white;
}

.bi-instagram:hover {
    cursor: pointer;
    color: rgb(225, 48, 108);
}

.bi-linkedin:hover {
    cursor: pointer;
    color: rgb(14, 118, 168);
}
